{% block navbar %}
<div id="navigation">
<table border=0 cellpadding=7>
<tr>
    <td><a href="/game">Home</a></td>
{% if user_logged_in %}
      <td><a href="/game/upload">Upload</a></td>
      <td><a href="/game/challenge_user">Challenge User</a></td>
      <td><a href="/game/logout">Logout</a> of {{ user_name }}</td>
{% else %}
      <td><a href="/game/registration">Register</a></td>
      <td><a href="/game/login">Login</a></td>
{% endif %}
</tr>
</table>
</div>
{% endblock %}
{% block content %}{% endblock %}
