{% block doctype %}<!DOCTYPE HTML> {% endblock %}
{% load staticfiles %}
{% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>Project WAM</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "sticky-footer-navbar.css" %}" rel="stylesheet">


    <script type='text/javascript' src="{% static "hello_world.js" %}"></script>
  </head> 
{% endblock %}
  <body>
{% block navbar %}

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/game">Project WAM</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/game">Home</a></li>
            {% if user_logged_in %}
            <li><a href="/game/upload">Upload</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
role="button" aria-expanded="false"> Challenge User <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/game/challenge_user_ai">Challenge User's AI</a></li>
                <li><a href="#">Challenge User ...</a></li>
                <li><a href="#">...</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="/game/logout">Logout</a></li>
            {% else %}
            <li><a href="/game/registration">Register</a></li>
            <li><a href="/game/login">Login</a></li>
            {% endif %}
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li><a href="#">{{ user_name }}</a></li>
           </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

{% endblock %}
<!-- Begin page content -->
    <div class="container">
      <div class="page-header">
     {% block content_header %}<h1>Sticky footer with fixed navbar</h1> {% endblock %}
      </div>
{% block content %}
{% endblock %}

 <footer class="footer">
      <div class="container">
        <p class="text-muted"> Created by: Andrew Graham and Andrew Woods.</p>
      </div>
    </footer>

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "ie10-viewport-bug-workaround.js" %}"></script>
</body>
</html>
