{% extends "base.html" %}
{% block navbar %}{{ block.super }}{% endblock %}
{% block content_header %} 
    <h2> Reset password </h2>
{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="/game/forgot_password/" method="post">
{% csrf_token %}
<table width="300"><tr>
<td><b>User name: </b></td><td><input type="text" name="user_name"></td></tr><tr>
<td><b>Email:</b></td><td><input type="text" name="user_email"></td></tr>
</table>
<input type="submit" value="Send email" />
</form>
{% endblock %}