{% extends "base.html" %}
{% block navbar %}{{ block.super }}{% endblock %}
{% block content %}
<h2> Welcome to WAM board 2 player board games! </h2>
<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("button").click(function(){
        if ($("#test").is(":visible")) {
        $("#test").hide();
        $("#test2").show();
      }
        else {
        $("#test").show();
        $("#test2").hide();
        }
    });
});
</script>
</head>
<body>

<h2>This is a heading</h2>

<p id="test">This is a paragraph.</p>
<p id="test2">This is another paragraph.</p>

<button>Click me</button>

</body>
</html>

{% endblock %}
