{% extends "base.html" %}
{% block navbar %}{{ block.super }}{% endblock %}
{% block content_header %} 
    <h2> {{ user_name }} VS {{ ch_user_name }}  </h2>
{% endblock %}
{% block content %}
<pre>
<table width='400'>
<tr><td>User Name</td><td>Ai Title</td><td>Game Piece</td><td>Time</td>
<tr><td>{{ user_name }}</td><td>{{ user_name_ai }}</td><td>x</td><td>{{ time1 }}</td></tr>
<tr><td>{{ ch_user_name }}</td><td>{{ ch_name_ai }}</td><td>o</td><td>{{ time2 }} </td></tr>
</table></pre>
{% if winner %}
<pre>
The winner is: {{ winner }}!
</pre>
{% endif %}
{% if game %}
<pre>
<font size="10"><table border="1" width="140px">
		{% for row in game %}
		<tr>
			{% for col in row %}
				<td align="center">{{ col }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
</table></font></pre>
{% endif %}
<pre>Move History:
{% if history %}
{{ history }}
{% endif %}
</pre>
{% endblock %}