{% extends "base.html" %}
{% block navbar %}{{ block.super }}{% endblock %}
{% block content_header %} 
    <h2> {{ user_name }} VS {{ ch_user_name }}  </h2>
{% endblock %}
{% block content %}
<pre>
<table width='400'>
<tr><td>User name</td><td>Ai title</td><td>Game piece</td>
<tr><td>{{ user_name }}</td><td>{{ user_name_ai }}</td><td>x</td></tr>
<tr><td>{{ ch_user_name }}</td><td>{{ ch_name_ai }}</td><td>o</td></tr>
</table></pre>
<pre>
The winner is: {{ winner }}!
<font size="10"><table border="1" width="140px">
		{% for row in game %}
		<tr>
			{% for col in row %}
				<td align="center">{{ col }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
</table></font></pre>
<pre>{{ history }}</pre>
{% endblock %}