{% extends "base.html" %}
{% block navbar %}{{ block.super }}{% endblock %}
{% block content_header %} 
    <h2> Upload an Ai </h2>
{% endblock %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form enctype="multipart/form-data" method="post" action="/game/upload/">
   {% csrf_token %}   
   <table>
       {{ form.as_table }}
    </table>
    <h2>What game is this script for?</h2>
    <select name="name_of_game">
    	<option name="tic_tac_toe">tic_tac_toe</option>
    	<option name='checkers'>checkers</option>
    </select>
    <input type="submit" value="Upload"/>
</form>
{% endblock %}
