{% extends "base.html" %}
{% block navbar %}{{ block.super }}{% endblock %}
{% block content_header %} 
    <h2> {{ user_name }}'s Profile Page </h2>
{% endblock %}
{% block content %}
<pre>List of Ais:
<table>
<tr> <td> Ai </td> <td> wins </td> <td> losses </td> <td> draws </td></tr>
{% for score in score_list %}
   <tr>
      <td> {{ score.user_ai_title }} </td> 
      <td> {{ score.user_ai_wins }} </td>
      <td> {{ score.user_ai_losses }} </td>
      <td> {{ score.user_ai_draws }} </td>
   </tr>
{% endfor %}
</table>
</pre>
{% endblock %}
